
<x-amp>

            
    <push name="head">

 

      <script async custom-element="amp-carousel" src="https://cdn.ampproject.org/v0/amp-carousel-0.2.js"></script>

 

    </push>

 

  

 

    <div class="p-4">

 

      <div class="max-w-full">

 

        <amp-carousel width="600" height="400" layout="responsive" type="slides">

 

          <amp-img src="https://ampbyexample.com/img/image1.jpg" width="600" height="400" alt="a sample image" />

 

          <amp-img src="https://ampbyexample.com/img/image2.jpg" width="600" height="400" alt="another sample image" />

 

          <amp-img src="https://ampbyexample.com/img/image3.jpg" width="600" height="400" alt="and another sample image" />

 

        </amp-carousel>

 

      </div>

 

    </div>

 

  </x-amp>
 